---
import type { CollectionEntry } from 'astro:content'
import { toDateString } from '@/util'

export interface Props {
  achievement: CollectionEntry<'achievements'>
}

const { id, data } = Astro.props.achievement

const date = new Date(data.date)
---

<div class="flex flex-row gap-4">
  <div class="basis-2/12 text-5xl font-black text-center">
    {data.position}
  </div>
  <div class="grow basis=9/12 flex flex-col">
    <div class="text-2xl"><a class="no-underline" href={data.link} target="_blak">{data.title}</a></div>
    <div class="text-xs items-end opacity-75">{toDateString(date)}</div>
  </div>
  <div class="basis-2/12 flex flex-col">
    <div class="self-end text-xl font-black">{data.rating_points} pts</div>
    <div class="text-xs self-end opacity-75">CTF Points: {data.ctf_points} pts</div>
  </div>
</div>
