---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'

export interface Props {
  member: CollectionEntry<'members'> | CollectionEntry<'prev_members'>
}

const { data } = Astro.props.member

const iconData = {
  instagram: 'tabler:brand-instagram',
  twitter: 'tabler:brand-twitter',
  x: 'tabler:brand-x',
  github: 'tabler:brand-github',
  linkedin: 'tabler:brand-linkedin',
  website: 'tabler:world-www',
  codeforces: 'simple-icons:codeforces'
}
---

<div
  class="flex gap-4 rounded-md border px-8 py-4 hover:opacity-80 md:flex-row md:gap-8"
>
  <div class="flex w-full flex-col gap-2 p-2">
    <div>
      <div class="text-xl font-black">
        <a class="no-underline" href={`/authors/${data.id}`}>{data.id}</a>
      </div>
      <div class="text-base">{data.name}</div>
    </div>
    <div class="text-wrap text-base opacity-75">{data.bio}</div>
  </div>
  <div class="grid grid-flow-col grid-rows-3 gap-2 p-2">
    {
      data.socials &&
        Object.entries(data.socials).map(([platform, url]) => (
          <a href={url} target="_blank" class="text-xl">
            <Icon
              class="clickable"
              name={`${iconData[platform as keyof typeof iconData]}`}
            />
          </a>
        ))
    }
  </div>
</div>
